body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}
header {
    padding: 1rem;
    background-color: #ffffff;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
}
header a:hover {
    color: #ccc;
}
.nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #d91414;
}
.nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem;
}
.nav a:hover {
    color: #ccc;
    background-color: #b3151a;
}
main {
    padding: 2rem;
}
main h1 {
    color: #CB181E;
    line-height: 1.2;
}
main p {
    margin-bottom: 1rem;
}
main a {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
}
main a:hover {
    background-color: #ffffff;
}

.img
{
    display:flex;
    margin: 0%;
    image-resolution: 100%;
}
.pic1{
    background-color: #ccc;
    border-radius: 3mm;
    padding: 1cm;
    width: 27.5%;
    align-self: left;
    
}
.pic2{
    background-color: #ccc;
    border-radius: 3mm;
    padding: 1cm;
    width: 27.5%;
    
}
.pic3{
    background-color: #ccc;
    border-radius: 3mm;
    padding: 1cm;
    width: 27.5%;
}
footer{
    background-color:#CB181E ;
    color: #fff;
    padding: 2mm;
}